
// MAIN PRESENTACIÓN

.presentacion-main {
    @include main;
}

.trailer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

.trailer__h2 {
    @include h2;
    line-height: 70px;

    @media (max-width: 540px ) {
        font-size: 30px;
    }
}

.trailer__p {
    @include p;
    margin-bottom: 50px;

    @media (max-width: 320px ) {
        padding: 0px;
    }
}

.trailer__iframe {
    width: 500px;
    height: 300px;
    margin: auto;
}


.trailer__figure {
    text-align: center;
}

.trailer__figcap {
    text-align: center;
    font-family: 'ThePacific';
    line-height: 30px;
    margin-bottom: 50px;
}

.trailer__img {
    max-width: 500px;
    margin: auto;

    @media (max-width: 540px ) {
        max-width: 300px;
        margin: auto;
    }
}

/* Estilo base para la imagen */
.trailer__object {
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    max-width: 67%;
    padding: 20px; /* Agrega un poco de espacio alrededor de la imagen */
    border: 2px solid transparent; /* Borde inicialmente transparente */
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .trailer__object {
        max-width: 85%;
    }
}


.trailer__object:hover {
    animation: cambia-color 3s ease-in-out, escala 0.3s ease-in-out;
    border-color: #CB4A2D; 
    transform: scale(1.05); 
}

@keyframes cambia-color {
    0%, 100% {
        background-color: transparent; 
    }
    50% {
        background-color: #CB4A2D; 
    }
}

@keyframes escala {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
}