
// MAIN PRESENTACIÓN

.presentacion-main {
    @include main;
}

.trailer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

.trailer__h2 {
    @include h2;
    line-height: 70px;

    @media (max-width: 540px ) {
        font-size: 30px;
    }
}

.trailer__p {
    @include p;
    margin-bottom: 50px;

    @media (max-width: 320px ) {
        padding: 0px;
    }
}

.trailer__iframe {
    width: 500px;
    height: 300px;
    margin: auto;
}


.trailer__figure {
    text-align: center;
}

.trailer__figcap {
    text-align: center;
    font-family: 'ThePacific';
    line-height: 30px;
    margin-bottom: 50px;
}

.trailer__img {
    max-width: 500px;
    margin: auto;

    @media (max-width: 540px ) {
        max-width: 300px;
        margin: auto;
    }
}